@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPass</title>
</head>
<body>
    <div>
        RESET PAGE
    </div>
</body>
</html>
